# https://www.playframework.com/documentation/latest/Configuration

# path to main file migration
liquibase.c2s.changelog = "liquibase/main_migration.xml"

# liquibase module enable
play.modules.enabled  += "module.LiquibaseModule"